name: "Build"

on:
  push:
    branches:
      - master
      - backgroud-color
  pull_request:
    branches:
      - master
      - backgroud-color

jobs:
  build:
    name: Test build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build